@{
    Layout = null;
}

<footer class="main-footer">
    <strong>Copyright &copy; 2022-2023 <a href="/Home/Home">hikayt Ajloun</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>The site is still experimental</b> 1.2.0
    </div>
</footer>