
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Navbar and footer 2.cshtml";
}


<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-breadcrumb-Cart pq-bg-dark pq-bg-img-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title mt-5">
                        <h1>Your Cart</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Our Services</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Cart Content-->
<div class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <!-- Cart Table-->
                <form action="#" method="post" class="cart my-4 mt-0">
                    <table class="table cart-products mb-4">
                        <thead>
                            <tr>
                                <th scope="col" class="alt-font"></th>
                                <th scope="col" class="alt-font">Product</th>
                                <th scope="col" class="alt-font"></th>
                                <th scope="col" class="alt-font">Price</th>
                                <th scope="col" class="alt-font text-center">Quantity</th>
                                <th scope="col" class="alt-font">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="~/Images/Content/p1.jpg" src="~/Images/Content/p1.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">Dried fog</a>
                                </td>
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-trash"></i></a>
                                </td>
                                <td class="product-price" data-title="Price">$350.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">$350.00</td>
                            </tr>
                            <tr>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="~/Images/Content/p2.jpg" src="~/Images/Content/p2.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">Pulley Crank Timing Belt</a>
                                    <span class="variation">Size: L</span>
                                </td>
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-trash"></i></a>
                                </td>
                                <td class="product-price" data-title="Price">$10.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">$10.00</td>
                            </tr>
                            <tr>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="~/Images/Content/p3.jpg" src="~/Images/Content/p3.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">Hood Comp</a>
                                    <span class="variation">Size: XL</span>
                                </td>
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-trash"></i></a>
                                </td>
                                <td class="product-price" data-title="Price">$299.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">$299.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between button-set-bottom">
                        <a href="#" class="btn btn-secondary rounded-3 cart-continue">Continue shopping</a>
                        <button type="submit" name="clear" class="btn btn-border rounded-3 small--hide mx-4">Clear Shoping Cart</button>
                        <button type="submit" name="update" class="btn btn-border rounded-3 cart-continue">UPDATE SHOPPING CART</button>
                    </div>
                </form>
                
                <!--End Cart Table-->
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="solid-border cart-total rounded-3">
                    <h5 class="text-uppercase">Cart totals</h5>
                    <div class="row border-bottom pb-2">
                        <span class="col-6 col-sm-6 cart__subtotal-title text-uppercase"><b>Subtotal</b></span>
                        <span class="col-6 col-sm-6 text-right"><span class="money">$735.00</span></span>
                    </div>
                    <div class="row border-bottom pb-2 pt-2">
                        <span class="col-6 col-sm-6 cart__subtotal-title text-uppercase"><b>Tax</b></span>
                        <span class="col-6 col-sm-6 text-right">$10.00</span>
                    </div>
                    <div class="row border-bottom pb-2 pt-2">
                        <span class="col-6 col-sm-6 cart__subtotal-title text-uppercase"><b>Shipping</b></span>
                        <span class="col-6 col-sm-6 text-right small text-uppercase">Free shipping</span>
                    </div>
                    <div class="row border-bottom pb-2 pt-2">
                        <span class="col-6 col-sm-6 cart__subtotal-title text-uppercase"><strong>Total</strong></span>
                        <span class="col-6 col-sm-6 cart__subtotal-title cart__subtotal text-right"><b>$745.00</b></span>
                    </div>
                    <a href="checkout.html" class="btn btn-lg btn-primary rounded-pill my-4 checkout w-100">Proceed To Checkout</a>
                    <p><img class="blur-up lazyloaded" src="~/Images/Content/paymethod.png" data-src="~/Images/Content/paymethod.png" alt="Guaranteed Safe Checkout"></p>
                </div>

            </div>

        </div>
        <!--Discount Codes-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 cart-col">
            <div class="box-content">
                <h5 class="text-uppercase">Discount Codes</h5>
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="coupon" class="form-label">Enter your coupon code if you have one.</label>
                        <input type="text" name="coupon" id="coupon" placeholder="Coupon Code" class="mb-2 rounded-3 form-control border-0">
                    </div>
                    <div class="actionRow mt-3">
                        <button type="submit" class="btn btn-primary rounded-3 w-100">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div>

        </div>
        <!--End Discount Codes-->

