
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/Navbar and footer 1.cshtml";
}


    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-breadcrumb-contact pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title mt-5">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Contact Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->
    <!--Contacts & Forms Start-->
    <section class="contact-form">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-5">
                    <div class="pq-bg-dark pq-contact-form-p">
                        <div class="pq-section pq-style-1 text-left">
                            <h5 class="pq-section-title pq-text-white" id="contacts" data-high_text="Contacts" data-title_text="Our Contacts" data-rough_color="#fd4a18" data-rough_type="underline">Our Contacts</h5>
                            <p class="pq-section-description pq-text-white">If you have any inquiries or a proposal for cooperation, you can communicate directly through the following information.</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="ion ion-ios-location"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">Our Address</h4>
                                            <p class="pq-text-white mb-0">Ajloun / Kufrnjah<br> Jordan</p>
                                        </div>
                                    </div>
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="ion ion-email"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">E-Mail Address</h4>
                                            <p class="pq-text-white mb-0">support@Hekaytajloun.com</p>
                                            <p class="pq-text-white mb-0">haithamalhazaymeh@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">Phone Number</h4>
                                            <p class="pq-text-white mb-0"> + (962) 779907498 </p>
                                            <p class="pq-text-white mb-0"> + (962) 774204258 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0">
                    <div class="form-div">
                        <div class="pq-section pq-style-1 text-left">
                            <h5 class="pq-section-title" id="quote" data-high_text="Quote" data-title_text="Request A Quote" data-rough_color="#fd4a18" data-rough_type="underline">Direct communication</h5>
                            <p class="pq-section-description">Through this form, you will be able to communicate with us directly, and the technical support team will respond to you as soon as possible</p>
                        </div>
                        <form action="#" class="pq-contactform pq-applyform" novalidate>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="first-name" class="name-field" placeholder="Your Name" required>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="e-mail" class="e-mail-field" placeholder="Email" required>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="phone-number" class="phone-number-field" placeholder="Cell Phone" required>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="subject" class="subject-field" placeholder="Subject" required>
                                </div>
                                <div class="col-lg-12">
                                    <textarea id="message" rows="5" cols="10" placeholder="Your Message" required></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <a class="pq-button form-btn">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Send Message</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contacts & Forms End-->
    <!--Map Start-->
    <div class="map p-0 mb-5">
        <div class="pq-bg-map mb-5">
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%D9%83%D9%81%D8%B1%D9%86%D8%AC%D8%A9+(Our%20location%20)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">hiking gps</a></iframe>
            </div>
            <!--Map ENd-->
