
@{
    ViewBag.Title = "FormPlace";
    Layout = "~/Views/Shared/Navbar and footer 1.cshtml";
}

<div class="pq-breadcrumb pq-breadcrumb-FormPlace pq-bg-dark pq-bg-img-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title mt-5">
                        <h1>Add a place</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Add a place</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 mt-5">
    <div class="pq-section pq-style-1 text-center">
        <span class="pq-section-sub-title">Become our partner</span>
        <h6 style="font-size:35px" id="gg">Do you have a Place  you want to add?</h6>
    </div>
    <h6 class="discrption text-center mb-5 ms-5 me-5">
        If you want to add a tourist place in Ajloun Governorate, you can fill out this form. If the place is suitable for the platform’s policy, we will contact you again and we will add it according to the agreed terms.
    </h6>

</div>


<div class="row">
    <div class="col-lg-8 mt-4 mt-lg-0 mb-5">
        <div class="form-div">
            @using (Html.BeginForm("Create", "PlacesRequests", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="first-name" class="name-field" placeholder="Your Name" required name="Name">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="e-mail" class="e-mail-field" placeholder="Email" required name="Email">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="phone-number" class="phone-number-field" placeholder="Your Phone" required name="PhoneNumber">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="subject" class="subject-field" placeholder="Product Name" required name="PlacesName">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="subject" class="subject-field" placeholder="Address 1" required name="Adress1">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="subject" class="subject-field" placeholder="Address 2" required name="Adress2">
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input class="file-" type="file" id="subject" required name="image1">
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="file" id="subject" required name="image2">
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <input type="file" id="subject" required name="image3">
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="file" id="subject" required name="image4">
                    </div>
                    <div class="col-lg-12">
                        <textarea id="message" rows="8" cols="10" placeholder="Your Message" required name="Message"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <input type="submit" class="pq-button-text" value="Send request">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
        <p> ملاحظة بمجرد نص نص نص نص نصن صنص نصن صن نص </p>
        </div>
    </div>
