
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Navbar and footer 1.cshtml";
}

<!--Banner Start-->
<div class="banner py-0" style=" height:700px;max-height:700px">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_15_1_wrapper" data-alias="slider-1" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;height:700px;max-height:700px">
        <rs-module style="height:700px" id="rev_slider_15_1" data-version="6.3.2">
            <rs-slides>
                <rs-slide data-key="rs-43" data-title="Slide" data-thumb="~/Images/Content/main slaid.jpg" data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;">
                    <img src="~/Images/Content/main slaid.jpg" title="banner-1-1.jpg" width="700" height="700" data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;" class="rev-slidebg" data-no-retina>
                    <!--
                                            -->
                    <h5 id="slider-15-slide-43-layer-1"
                        class="rs-layer"
                        data-type="text"
                        data-rsp_ch="on"
                        data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
                        data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
                        data-frame_0="y:50,39,29,17;"
                        data-frame_1="st:1000;sp:1000;"
                        data-frame_999="o:0;st:w;"
                        style="z-index:10;font-family:Jost;">
                        Ajloun<br>
                        Natural Story
                    </h5>
                    <!--

                -->
                    <a id="slider-15-slide-43-layer-2"
                       class="rs-layer rev-btn"
                       href="/Home/Places" target="_self"
                       data-type="button"
                       data-rsp_ch="on"
                       data-xy="x:c;xo:-90px,-90px,-75px,-58px;y:m;yo:200px,160px,121px,74px;"
                       data-text="w:normal;s:16,16,16,14;l:32,32,24,22;"
                       data-dim="minh:0px,none,none,none;"
                       data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                       data-border="bor:5px,5px,5px,5px;"
                       data-frame_0="y:50,39,29,17;"
                       data-frame_1="st:1000;sp:1000;"
                       data-frame_999="o:0;st:w;"
                       data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
                       style="z-index:11;background-color:#2E7D32;font-family:Jost;">
                        Viste Now
                    </a>
                    <!--

                -->
                    <a id="slider-15-slide-43-layer-3"
                       class="rs-layer rev-btn"
                       href="/Home/contact" target="_self"
                       data-type="button"
                       data-color="#222222"
                       data-rsp_ch="on"
                       data-xy="x:c;xo:100px,106px,94px,72px;y:m;yo:200px,160px,121px,74px;"
                       data-text="w:normal;s:16,16,16,14;l:32,32,24,22;"
                       data-dim="minh:0px,none,none,none;"
                       data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                       data-border="bor:5px,5px,5px,5px;"
                       data-frame_0="y:50,39,29,17;"
                       data-frame_1="st:1000;sp:1000;"
                       data-frame_999="o:0;st:w;"
                       data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
                       style="z-index:12;background-color:#ffffff;font-family:Jost;">
                        Contact Us
                    </a>
                    <!--

                -->
                    <rs-layer id="slider-15-slide-43-layer-7"
                              data-type="text"
                              data-color="#fd4a18"
                              data-rsp_ch="on"
                              data-xy="x:c;y:m;yo:-160px,-126px,-95px,-80px;"
                              data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
                              data-frame_0="y:50,39,29,17;"
                              data-frame_1="st:1000;sp:1000;"
                              data-frame_999="o:0;st:w;"
                              style="z-index:13;font-family:Jost;">
                        The first natural destination in jordan
                    </rs-layer>
                    <!--
                -->
                </rs-slide>
                <rs-slide data-key="rs-44" data-title="Slide" data-thumb="rev/assets/banner-2-1-50x100.jpg" data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;">
                    <img src="~/Images/Content/slide2.jpg" title="banner-2-1.jpg" width="1920" height="1080" data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;" class="rev-slidebg" data-no-retina>
                    <!--
                                            -->
                    <h5 id="slider-15-slide-44-layer-1"
                        class="rs-layer"
                        data-type="text"
                        data-rsp_ch="on"
                        data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
                        data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
                        data-frame_0="y:50,39,29,17;"
                        data-frame_1="st:1000;sp:1000;"
                        data-frame_999="o:0;st:w;"
                        style="z-index:10;font-family:Jost;">
                        Our Product<br>
                        Is Our Pride
                    </h5>
                    <!--

                -->
                    <a id="slider-15-slide-44-layer-2"
                       class="rs-layer rev-btn"
                       href="/Home/Products" target="_self"
                       data-type="button"
                       data-rsp_ch="on"
                       data-xy="x:c;xo:-100px,-90px,-74px,-66px;y:m;yo:200px,160px,121px,74px;"
                       data-text="w:normal;s:16;l:32,32,24,24;"
                       data-dim="minh:0px,none,none,none;"
                       data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                       data-border="bor:5px,5px,5px,5px;"
                       data-frame_0="y:50,39,29,17;"
                       data-frame_1="st:1000;sp:1000;"
                       data-frame_999="o:0;st:w;"
                       data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
                       style="z-index:11;background-color:#fd4a18;font-family:Jost;">
                        Shop Now
                    </a>
                    <!--

                -->
                    <a id="slider-15-slide-44-layer-3"
                       class="rs-layer rev-btn"
                       href="/Home/contact" target="_self"
                       data-type="button"
                       data-color="#222222"
                       data-rsp_ch="on"
                       data-xy="x:c;xo:100px,106px,96px,72px;y:m;yo:200px,160px,121px,74px;"
                       data-text="w:normal;s:16;l:32,32,24,24;"
                       data-dim="minh:0px,none,none,none;"
                       data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                       data-border="bor:5px,5px,5px,5px;"
                       data-frame_0="y:50,39,29,17;"
                       data-frame_1="st:1000;sp:1000;"
                       data-frame_999="o:0;st:w;"
                       data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
                       style="z-index:12;background-color:#ffffff;font-family:Jost;">
                        Contact Us
                    </a>
                    <!--

                -->
                    <rs-layer id="slider-15-slide-44-layer-7"
                              data-type="text"
                              data-color="#fd4a18"
                              data-rsp_ch="on"
                              data-xy="x:c;xo:0,0,1px,0;y:m;yo:-160px,-126px,-100px,-80px;"
                              data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
                              data-frame_0="y:50,39,29,17;"
                              data-frame_1="st:1000;sp:1000;"
                              data-frame_999="o:0;st:w;"
                              style="z-index:13;font-family:Jost;">
                        # GREAT EXPERIENCE IN IT
                    </rs-layer>
                    <!--
                -->
                </rs-slide>
            </rs-slides>
            <rs-static-layers>
                <!--
            -->
            </rs-static-layers>
        </rs-module>
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->
</div>
<!--Banner End-->
<!-- product section -->

<section class="food_section layout_padding-bottom">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="pq-grid-container">
                    <div class="pq-filters">
                        <div class="filters pq-filter-button-group">
                            <ul>
                                <li class="active pq-filter-btn" data-filter="*">All</li>
                                <li class="pq-filter-btn" data-filter=".olive">Olive</li>
                                <li class="pq-filter-btn" data-filter=".herbs">Herbs</li>
                                <li class="pq-filter-btn" data-filter=".handmade">Handmade</li>
                                <li class="pq-filter-btn" data-filter=".oils">Oils</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pq-grid " data-next_items="3" data-initial_items="6">
                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img olive">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="~/Images/Content/Stuffed-Mammoth.png" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            Stuffed Olives
                                        </h5>
                                        <p>
                                            These are whole olives that have been pitted and filled with a variety of ingredients, such as cheese, garlic, or nuts.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $20
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img oils">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="~/Images/Content/287-2871996_olive-oil-and-olives.png" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            Olive oil
                                        </h5>
                                        <p>
                                            Jordan is known for producing high-quality olive oil, made from olives grown in the fertile valleys and hillsides of the country.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $25
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img herbs">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <a href="/Home/SingleProduct">
                                            <img src="~/Images/Content/p3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <a href="/Home/SingleProduct">
                                            <h5>
                                                DRIED SAGE STICKS 1KG
                                            </h5>
                                        </a>
                                        <p>
                                            Jordan is known for producing high-quality olive oil, made from olives grown in the fertile valleys and hillsides of the country.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $19
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img herbs">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <a href="/Home/SingleProduct">
                                            <img src="~/Images/Content/p2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <a href="/Home/SingleProduct">
                                            <h5>
                                                Local sumac
                                            </h5>
                                        </a>
                                        <p>
                                            Jordan is known for producing high-quality olive oil, made from olives grown in the fertile valleys and hillsides of the country.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $19
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img handmade">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <a href="/Home/SingleProduct">
                                            <img src="~/Images/Content/Mehbash.png" alt="">
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <a href="/Home/SingleProduct">
                                            <h5>
                                                Mehbash
                                            </h5>
                                        </a>
                                        <p>
                                            Mehbash is a traditional Jordanian dish that is typically made with minced lamb, onions, and spices, all wrapped in a thin layer of dough and.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $19
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img handmade">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <a href="/Home/SingleProduct">
                                            <img src="~/Images/Content/pngegg (1).png" alt="">
                                        </a>
                                    </div>
                                    <div class="detail-box">
                                        <a href="/Home/SingleProduct">
                                            <h5>
                                                Olive oil

                                            </h5>
                                        </a>
                                        <p>
                                            Jordan is known for producing high-quality olive oil, made from olives grown in the fertile valleys and hillsides of the country.
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $19
                                            </h6>
                                            <a href="">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <a href="/Home/Products" class="pq-button" id="showMore">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Show More</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- end food section -->
<!--Counter Start-->
<section class="counter mt-3 mb-3 pt-0 pb-0">
    <div class="container-fluid pq-bg-primary">
        <div class="row text-center pq-counter-60">
            <div class="col-lg-3 col-md-6">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="80" data-speed="2000">80</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Account Number</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="128" data-speed="2000">128</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="350" data-speed="2000">350</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Finished Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="130" data-speed="2000">130</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Win Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter End-->
<!--Our Story-->
<section class="create mt-3 mb-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <img src="~/Images/Content/photo_2022-12-23_10-56-37.jpg" class="pq-image11" alt="">
                <img src="~/Images/Content/IMG_6440-01.jpeg" class="pq-image12" alt="">
                <div class="floating-counter pq-bg-primary">
                    <div class="pq-counter pq-style-1">
                        <div class="pq-counter-contain">
                            <div class="pq-counter-info">
                                <div class="pq-counter-num-prefix">
                                    <h5 class="timer" data-to="40" data-speed="2000">40</h5>
                                    <span class="pq-counter-prefix">+</span>
                                </div>
                                <p class="pq-counter-description pq-text-white">Happy customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mt-4 mt-xl-0">
                <div class="pq-section pq-style-1 text-left">
                    <h5 class="pq-section-title" id="agency" data-high_text="Agency" data-title_text="We Offer High Quality IT Agency Services" data-rough_color="#fd4a18" data-rough_type="underline">Our Story</h5>
                    <p class="pq-section-description">
                        We set off in a village as old as olive trees, this
                        village that is famous for local products of high
                        quality, dedicated productive families, and
                        wonderful tourist places. We set out to tell you
                        the story of Ajloun. Through the platform of
                        every human being in Ajloun, "Ajloun's Story"
                    </p>
                </div>


                <div class="ceo d-flex align-items-center mt-4 mt-md-0">
                    <div class="pq-image-box pq-style-2">
                        <div class="pq-image-box-image">
                            <img src="~/Images/Content/haitnam.png" alt="">
                        </div>
                        <div class="pq-image-box-description">
                            <h5 class="pq-image-box-title"><a href="#">Haitham Hazaymeh</a></h5>
                            <p class="pq-image-box-description pq-text-primary mb-0">Founder Hekayt Ajloun</p>
                        </div>
                    </div>
                    <div class="pq-footer-social ms-5">

                        <a class="text-lg" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Create End-->
<!--reting Start-->
<section class="pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title pq-text-white"># our testimonial</span>
                    <h5 class="pq-section-title pq-text-white" id="solution" data-high_text="Solutions." data-title_text="Happy customers with our products." data-rough_color="#fd4a18" data-rough_type="underline">Happy customers with our products.</h5>
                </div>
            </div>

            <div class="pq-testimonial pq-owl-testimonial-2">
                <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="2"
                     data-lap_num="2" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="30">
                    <div class="item">
                        <div class="pq-testimonial-box pq-owl-testimonial-style-2">
                            <div class="pq-testmonial-media">
                                <img src="~/Images/Content/Hassan.jpg" alt="testimonial-image">
                                <div class="pq-testimonial-info">
                                    <h5>Hassan Ayasrah</h5>
                                    <span>Software Developer</span>
                                </div>
                            </div>
                            <div class="pq-testimonial-meta">
                                <div class="pq-testimonial-content">
                                    <p>
                                        I have been using natural products for years, and I can honestly say that they have made a huge difference in the health of my skin. I especially love their natural face wash, which leaves my skin feeling clean and refreshed without any harsh chemicals. Highly recommend!
                                    </p>
                                </div>
                                <div class="pq-testimonial-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="pq-quote">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-testimonial-box pq-owl-testimonial-style-2">
                            <div class="pq-testmonial-media">
                                <img src="~/Images/Content/yazzed.jpg" alt="testimonial-image">
                                <div class="pq-testimonial-info">
                                    <h5>Yazeed Aldamen</h5>
                                    <span>Android Developer</span>
                                </div>
                            </div>
                            <div class="pq-testimonial-meta">
                                <div class="pq-testimonial-content">
                                    <p>
                                        "I recently started using natural cleaning products in my home, and I am blown away by the difference they have made. Not only do they work just as well as traditional cleaners, but they also don't leave behind any harsh chemical residue. "
                                    </p>
                                </div>
                                <div class="pq-testimonial-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="pq-quote">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-testimonial-box pq-owl-testimonial-style-2">
                            <div class="pq-testmonial-media">
                                <img src="~/Images/Content/louy.jpg" alt="testimonial-image">
                                <div class="pq-testimonial-info">
                                    <h5>Louy Hazaymeh</h5>
                                    <span>Manager</span>
                                </div>
                            </div>
                            <div class="pq-testimonial-meta">
                                <div class="pq-testimonial-content">
                                    <p>
                                        I was hesitant to try natural hair products, but I am so glad I did! They leave my hair feeling soft, healthy, and nourished. Plus, they are free of all the harsh chemicals that can damage hair in the long run. Highly recommend to anyone looking for a natural hair care option.
                                    </p>
                                </div>

                                <div class="pq-testimonial-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="pq-quote">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--reating End-->
<!-- places to viste start -->
<section class="pq-pb-190">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-grid-container">
                    <div class="pq-filters">
                        <div class="filters pq-filter-button-group">
                            <ul>
                                <li class="active pq-filter-btn" data-filter="*">All</li>
                                <li class="pq-filter-btn" data-filter=".14">Nature</li>
                                <li class="pq-filter-btn" data-filter=".5">Historical</li>
                                <li class="pq-filter-btn" data-filter=".15">restaurant</li>
                                <li class="pq-filter-btn" data-filter=".8">Tourist itineraries</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pq-grid " data-next_items="3" data-initial_items="6">
                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  5 ">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Historical</a>
                                        <a href="portfolio-single.html">general</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Salah al-den al-ayobi's castle</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  14 ">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Adventures</a>
                                        <a href="portfolio-single.html">Technology</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Downhill adventures</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  14">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Adventures</a>
                                        <a href="portfolio-single.html">Technology</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Downhill adventures</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  15 ">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Tourist </a>
                                        <a href="portfolio-single.html">restaurant</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Tourist alruwws  restaurant</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  8 ">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v19.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Tourist</a>
                                        <a href="portfolio-single.html">Tourist Track</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">BIraq Al-Wahaj Tourist Track</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  14">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v18.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Nature</a>
                                        <a href="portfolio-single.html">Tourist</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Snow adventures</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  14">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v16.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Nature</a>
                                        <a href="portfolio-single.html">Tourist</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Kafranja Dam</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  14">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/Content/v5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Nature</a>
                                        <a href="portfolio-single.html">Tourist</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">wadi alearis</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  5  15  visible_item">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/portfolio/9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Design</a>
                                        <a href="portfolio-single.html">Help Desk</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">It Consulting</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="pq-grid-item pq-filter-items pq-col-4  pq-crop-img  5  15  visible_item">
                            <div class="pq-portfoliobox-2">
                                <div class="pq-portfolio-img">
                                    <a href="#">
                                        <img src="~/Images/portfolio/10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-portfolio-info">
                                    <div class="pq-portfolio-link">
                                        <a href="portfolio-single.html">Design</a>
                                        <a href="portfolio-single.html">Help Desk</a>
                                    </div>
                                    <h5><a href="portfolio-single.html">Product Inovation</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/Home/Places" class="pq-button" id="showMore">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Load More</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- places to viste End -->
<!--Blog Start-->
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title"># our latest news</span>
                    <h5 class="pq-section-title" id="blog" data-high_text="Blog" data-title_text="Latest Blog Posts" data-rough_color="#fd4a18" data-rough_type="underline">Latest Blog Posts</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="3" data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog1.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>Haitham Hazaymeh</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Historical</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title">
                                    <a href="/Home/SingleBlog">
                                        5 Information You May Not Know About The Citadel Of Saladin.
                                    </a>
                                </h5>
                                <a href="/Home/SingleBlog" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog2.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Mountaineering Is A Sport That Little Is Known About</a></h5>
                                <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog3.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Ajloun Governorate, Where The Beauty Of Nature And The ..</a></h5>
                                <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog1.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>Haitham Hazaymeh</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Historical</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        5 Information You May Not Know About The Citadel Of Saladin.
                                    </a>
                                </h5>
                                <a href="/Home/SingleBlog" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog2.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Mountaineering Is A Sport That Little Is Known About</a></h5>
                                <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="pq-blog-post">
                            <div class="pq-post-media">
                                <img src="~/Images/Content/blog3.jpg" alt="blog-img">
                                <div class="pq-post-date">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                </div>
                            </div>
                            <div class="pq-blog-contain">
                                <div class="pq-post-meta">
                                    <ul>
                                        <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                        <li class="pq-post-meta">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                        </li>
                                        <li class="pq-post-tag">
                                            <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Ajloun Governorate, Where The Beauty Of Nature And The ..</a></h5>
                                <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-flat pq-mt-30">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Read More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog End-->
<!-- Success Partners -->
<div class="col-lg-12">
    <div class="pq-section pq-style-1 text-center">
        <h5 class="pq-section-title" id="blog" data-high_text="Blog" data-title_text="Latest Blog Posts" data-rough_color="#fd4a18" data-rough_type="underline">Success Partners</h5>
    </div>
</div>
<div style="background-color: #2E7D32;" class="client   py-0">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="pq-client pq-60">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="6" data-lap_num="5" data-tab_num="3" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                        <div class="item">
                            <div class="pq-clientbox-1">
                                <a href="contact-us.html">
                                    <img class="pq-client-img" src="~/Images/Content/Orange_logo.svg.png" alt="pq-client-img">
                                    <img class="pq-client-hover-img" src="~/Images/Content/Orange_logo.svg.png" alt="pq-client-img">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-clientbox-1">
                                <a href="contact-us.html">
                                    <img class="pq-client-img" src="~/Images/Content/haitham logo.png" alt="pq-client-img">
                                    <img class="pq-client-hover-img" src="~/Images/Content/haitham logo.png" alt="pq-client-img">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-clientbox-1">
                                <a href="contact-us.html">
                                    <img class="pq-client-img" src="~/Images/Content/logo nabd.png" alt="pq-client-img">
                                    <img class="pq-client-hover-img" src="~/Images/Content/logo nabd.png" alt="pq-client-img">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-clientbox-1">
                                <a href="contact-us.html">
                                    <img class="pq-client-img" src="~/Images/Content/Kufrnjah.png" alt="pq-client-img">
                                    <img class="pq-client-hover-img" src="~/Images/Content/Kufrnjah.png" alt="pq-client-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Client End-->
<!-- Be Partner start -->

<section class="offer_section layout_padding-bottom">
    <div class="container">
        <div class="col-lg-12">
            <div class="pq-section pq-style-1 text-center">
                <span class="pq-section-sub-title">#Do you own a place or product?</span>
                <h5 class="pq-section-title" id="products" data-high_text="products" data-title_text="Latest Blog Posts" data-rough_color="#fd4a18" data-rough_type="underline">Be a partner</h5>
            </div>
        </div>
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/Images/Content/v6.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    I Have A Product
                                </h5>
                                <h6>
                                </h6>
                                <a class="d-flex justify-content-center align-items-center" href="/Home/FormProduct">
                                    Send now <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve"> </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/Images/Content/v9.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    I Have A Place
                                </h5>

                                <a class="d-flex justify-content-center align-items-center" href="/Home/FormPlace">
                                    Send Now <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve"></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

<!-- Be Partner End -->
