
@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/Navbar and footer 1.cshtml";
}


    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-breadcrumb-services pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Our Services</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                                <li class="breadcrumb-item active">Our Services</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->
    <!--Goals Start-->
    <section class="goals">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># The services we provide</span>
                        <h5 class="pq-section-title" id="form" data-high_text="Form" data-title_text="We Run All Kinds Of Services In Form Of IT" data-rough_color="#fd4a18" data-rough_type="underline">We have a professional team that can provide services to project owners and consumers</h5>
                    </div>
                </div>
            </div>
            <div class="row g-5 text-center justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-camera"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Product photography</h4>
                            <p class="pq-icon-box-description">Professional product photography service for project owners.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-rectangle-ad"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Product marketing</h4>
                            <p class="pq-icon-box-description">Promote products professionally through e-marketing channels.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-camera"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Places photography</h4>
                            <p class="pq-icon-box-description">Professional Place photography service for project owners.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-brands fa-product-hunt"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">places marketing</h4>
                            <p class="pq-icon-box-description">Promoting public and private tourist sites in Ajloun.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="flaticon-design"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Products packaging</h4>
                            <p class="pq-icon-box-description">Professional packaging of products to present the product to the customer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-user-check"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">quality assurance</h4>
                            <p class="pq-icon-box-description"> provide the customer with a high quality  according to the accepted standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Training courses</h4>
                            <p class="pq-icon-box-description">Training courses on how to promote and market products.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-2">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="fa-solid fa-heart-pulse"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Tourist itineraries</h4>
                            <p class="pq-icon-box-description">Fun and interesting tourist trails in Ajloun Governorate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Goals End-->
    <!--Benefits Start-->
    <section class="benefits pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># our benefits</span>
                        <h5 class="pq-section-title pq-text-white" id="exponentially" data-high_text="Exponentially" data-title_text="We Help You Grow Your Business Exponentially" data-rough_color="#fd4a18" data-rough_type="underline">Why choose "Hekayt Ajloun" to buy and sell products?</h5>
                        <p class="pq-section-description pq-text-white">The "Hekayt Ajloun" team contains an integrated team that is able to bring the best quality products and present them to customers in a professional manner. In addition to the great experience in tourist attractions in Ajloun Governorate.</p>
                    </div>
                    <div class="pq-progressbar-box pq-progressbar-style-1 ">
                        <div class="pq-progressbar-content">
                            <span class="progress-title pq-text-white">Access to products</span>
                            <span class="progress-value pq-text-white">85%</span>
                            <div class="pq-progress-bar">
                                <span data-width="85" class="show-progress"></span>
                            </div>
                        </div>
                        <div class="pq-progressbar-content">
                            <span class="progress-title pq-text-white">Strong technical support</span>
                            <span class="progress-value pq-text-white">92% </span>
                            <div class="pq-progress-bar">
                                <span data-width="92" class="show-progress"></span>
                            </div>
                        </div>
                        <div class="pq-progressbar-content">
                            <span class="progress-title pq-text-white">Experience in tourism places</span>
                            <span class="progress-value pq-text-white">85% </span>
                            <div class="pq-progress-bar">
                                <span data-width="85" class="show-progress"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mt-4 mt-lg-0">
                    <img src="~/Images/Content/SERVECE.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--Benefits End-->
    <!--Services Start-->
    <section class="service pq-pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># Target groups</span>
                        <h5 class="pq-section-title" id="services" data-high_text="Services" data-title_text="Provide Exclusive Services" data-rough_color="#fd4a18" data-rough_type="underline">Through "Hekayt Ajloun" we target the following groups</h5>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pq-tabs-1">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="pq-tabs nav-item nav-link active"
                               id="nav-home-0" data-bs-toggle="tab" href="#nav-0" role="tab" aria-controls="nav-home-0" aria-selected="true">
                                <div class="pq-tabs-icon"><i class="fa-solid fa-magnifying-glass-dollar"></i><span>home entrepreneurs</span></div>
                            </a><a class="pq-tabs nav-item nav-link " id="nav-home-1" data-bs-toggle="tab" href="#nav-1" role="tab"
                                   aria-controls="nav-home-1" aria-selected="true">
                                <div class="pq-tabs-icon"><i class="fa-solid fa-water-ladder"></i><span>Owners of entertainment places</span></div>
                            </a><a class="pq-tabs nav-item nav-link " id="nav-home-2" data-bs-toggle="tab" href="#nav-2" role="tab"
                                   aria-controls="nav-home-2" aria-selected="true">
                                <div class="pq-tabs-icon"><i class=" flaticon-data-analytics"></i><span>Consumers</span></div>
                            </a><a class="pq-tabs nav-item nav-link " id="nav-home-3" data-bs-toggle="tab" href="#nav-3" role="tab"
                                   aria-controls="nav-home-3" aria-selected="true">
                                <div class="pq-tabs-icon"><i class=" flaticon-ux-design"></i><span>Tourists</span></div>
                            </a>
                        </div>
                        <div class="tab-content text-left" id="nav-tabContent">
                            <div class="tab-pane fade show  active" id="nav-0" role="tabpanel" aria-labelledby="nav-home-0">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <img src="~/Images/Content/1.jpg" alt="seo-image">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="pq-tab-info">
                                            <h2>Home projects</h2>
                                            <p>We at "Hekayt Ajloun" support leading home projects in several ways</p>
                                            <h3>&nbsp;</h3>
                                            <ul>
                                                <li>Marketing products through electronic channels</li>
                                                <li>Professional packaging of products to reach the customer</li>
                                                <li>Professional product photography</li>
                                                <li>Training the project owner to use the electronic platform</li>
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show" id="nav-1" role="tabpanel" aria-labelledby="nav-home-1">
                                <div class="row flex-row-reverse">
                                    <div class="col-lg-6">
                                        <img src="~/Images/Content/2.jpg" alt="seo-image">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="pq-tab-info">
                                            <h2>owners of entertainment</h2>
                                            <p>
                                                we also aim to support owners of entertainment places in various ways. We understand that running a successful entertainment business requires a lot of effort and resources, and we want to help make it easier for you. Here are some of the ways we can assist you:
                                            </p>
                                            <h3>&nbsp;</h3>
                                            <ul>
                                                <li>
                                                    Marketing your entertainment place through various electronic channels to help you reach your target audience effectively.
                                                    .
                                                </li>
                                                <li>Professional packaging of your services to enhance your brand image and improve the customer experience..</li>
                                                <li>Providing high-quality photography services to showcase your entertainment place and highlight its unique features..</li>
                                                <li>Training you on how to use our electronic platform to manage your business operations efficiently and effectively.</li>
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show  " id="nav-2" role="tabpanel" aria-labelledby="nav-home-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="~/Images/Content/3.jpg" alt="seo-image">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="pq-tab-info">
                                            <h2>Consumers</h2>
                                            <p>
                                                We understand that embarking on a home project can be overwhelming, and we want to make the process as seamless and stress-free as possible. Here are some of the ways we support consumers:
                                            </p>
                                            <h3>&nbsp;</h3>
                                            <ul>
                                                <li>Providing a wide range of home project products through our electronic platform, allowing consumers to browse and choose from a variety of options conveniently.</li>
                                                <li>
                                                    Offering professional packaging services to ensure that products reach consumers in optimal condition and in a timely manner.
                                                    .
                                                </li>
                                                <li>
                                                    Providing high-quality product photography to showcase products and help consumers make informed purchasing decisions.
                                                </li>
                                                <li>Training consumers on how to use our electronic platform to make their shopping experience smooth and hassle-free..</li>
                                            </ul>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show  " id="nav-3" role="tabpanel" aria-labelledby="nav-home-3">
                                <div class="row flex-row-reverse">
                                    <div class="col-lg-6">
                                        <img src="~/Images/Content/4.jpg" alt="seo-image">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="pq-tab-info">
                                            <h2>Tourists</h2>
                                            <p>
                                                We understand that tourism is an essential part of our community's economy, and we want to help tourists have a memorable experience. Here are some of the ways we can assist tourists:
                                            </p>
                                            <h3>&nbsp;</h3>
                                            <ul>
                                                <li>
                                                    Providing a wide range of locally made products and souvenirs through our electronic platform, allowing tourists to take a piece of Ajloun home with them.
                                                </li>
                                                <li>fering professional packaging services to ensure that products are safely packed and can be transported easily..</li>
                                                <li>
                                                    Providing high-quality product photography to showcase our products and help tourists make informed purchasing decisions.
                                                </li>
                                                <li>
                                                    Offering training to local artisans and businesses to help them improve their product quality and appeal to tourists.
                                                </li>
                                            </ul>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services End-->

