
@{
    ViewBag.Title = "TermOfUse";
    Layout = "~/Views/Shared/Navbar and footer 1.cshtml";
}

<!--Breadcrumb Start-->
<div class="pq-breadcrumb  pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title mt-5">
                        <h1>Term Of Use</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item">
                                <a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">Terms of Use</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<div class="ms-5 mt-5 mb-5 me-5">

 

    <h1>Terms of Use</h1>
    <p>Welcome to Hekayt Ajloun. By using our website, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms carefully. If you do not agree to these terms, you should not use our website.</p>
    <h2>Use of Content</h2>
    <p>All content on this website is the property of Hekayt Ajloun or its content suppliers and is protected by international copyright laws. You may not copy, reproduce, distribute, transmit, display, publish or create derivative works from any content on this website without the prior written permission of Hekayt Ajloun.</p>
    <h2>Privacy Policy</h2>
    <p>We take your privacy very seriously. Please refer to our <a href="/Home/PrivacyPolicy">Privacy Policy</a> for more information about how we collect, use, and protect your personal information.</p>
    <h2>Disclaimer of Warranties</h2>
    <p>This website is provided on an "as is" and "as available" basis. Hekayt Ajloun makes no representations or warranties of any kind, express or implied, as to the operation of this website or the information, content, materials, or products included on this website. You expressly agree that your use of this website is at your sole risk.</p>
    <h2>Limitation of Liability</h2>
    <p>Hekayt Ajloun shall not be liable for any damages of any kind arising from the use of this website, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.</p>
    <h2>Changes to Terms</h2>
    <p>Hekayt Ajloun reserves the right to modify these terms at any time. Your continued use of this website after any such changes constitutes your acceptance of the new terms.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about these terms, please contact us at <a href="mailto:info@hekaytajloun.com">info@hekaytajloun.com</a>.</p>

</div>